<div class="row align-items-center justify-content-center form-group">
    <div class="col col-1">
    </div>
    <div class="col col-10">
        <div class="row align-items-center justify-content-center form-group">
            <label for="hosListAddDevForm" class="col col-2" style="margin: 0;">Hospital</label>
            <select class="col col-3 custom-select" name="hosBuildingList" id="hosListAddDevForm" required>
                <option></option>
            </select>

            <div class="col col-1"></div>

            <label for="buildingListAddDevForm" class="col col-2" style="margin: 0;">Building</label>
            <select class="col col-3 custom-select" name="buildingListDevForm" id="buildingListAddDevForm" required>
                <option></option>
            </select>
        </div>

        <div class="row justify-content-md-center py-3">
            <button id="btnAddDeviceForm" type="button" class="btn btn-dark btn-block"
                style="width:150px; text-align:center;">Add</button>
        </div>
    </div>
    <div class="col col-1">
    </div>
</div>

<script src="./js/addDevice.js"></script>