<div class="form-group">
    <label for="hosNameAddHosForm">Hospital Name</label>
    <input type="text" class="form-control" maxlength="100" id="hosNameAddHosForm">
</div>
<div class="form-group">
    <label for="hosAddressAddHosForm">Address</label>
    <input type="text" class="form-control" maxlength="100" id="hosAddressAddHosForm">
</div>
<div class="row justify-content-center align-items-center pt-3">
    <button type="button" id="btnSubmitAddHospital" class="btn btn-dark">Submit</button>
</div>

<script src="./js/addHospital.js"></script>