<div class="row justify-content-md-center">
    <label style="font-size: 25px;">Change Password</label>
</div>

<br>

<div class="row justify-content-center optionBar" id="userTypeSwitch" style="display: none;">
    <div class="btn-group btn-group-toggle" data-toggle="buttons" style="padding-bottom: 20px;">
        <label class="btn btn-outline-dark">
            <input type="radio" name="options" id="patientChangePass" value="1"> Patient
        </label>
        <label class="btn btn-outline-dark">
            <input type="radio" name="options" id="doctorChangePass" value="2"> Doctor
        </label>
    </div>
</div>

<div class="row align-items-center">
    <div class="col col-3">

    </div>
    <div class="col col-6">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Username</span>
                </div>
                <input name="name" class="form-control" placeholder="Username" type="text" id='name'>
            </div>
        </div>

        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Password </span>
                </div>
                <input name="pass" class="form-control" placeholder="********" type="password" id="pass">
            </div>
        </div>

        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Confirm Password </span>
                </div>
                <input name="pass" class="form-control" placeholder="********" type="password" id="confPass">
            </div>
        </div>

        <p class="text-center text-danger" id="notification"></p>
        <div class="row justify-content-md-center">
            <button id="submitBtnChangePassForm" type="button" class="btn btn-dark btn-block"
                style="width:150px; text-align:center;">Confirm</button>
        </div>
    </div>

    <div class="col col-3"></div>

</div>