<div class="row align-items-center justify-content-center form-group">
    <div class="col col-1">
    </div>
    <div class="col col-10">
        <div class="row justify-content-center align-items-center form-group">
            <textarea class="col col-2 form-control text-dark" rows="1" readOnly="true" aria-label="With textarea"
                style="border: none; box-shadow: none; resize: none; background-color: white;">Device ID</textarea>
            <input class="col col-10" id="deviceIdModDevForm" class="form-control" type="text">
        </div>

        <div class="row align-items-center form-group">
            <label for="hosListAddDevForm" class="col col-2" style="margin: 0;">Hospital</label>
            <select class="col col-3 custom-select" name="hosBuildingList" id="hosListModDevForm" required>
                <option></option>
            </select>

            <div class="col col-1"></div>

            <label for="buildingListAddDevForm" class="col col-2" style="margin: 0;">Building</label>
            <select class="col col-3 custom-select" name="buildingListDevForm" id="buildingListModDevForm" required>
                <option></option>
            </select>
        </div>

        <div class="row justify-content-md-center">
            <button id="btnSearchModDeviceForm" type="button" class="btn btn-dark btn-block"
                style="width:150px; text-align:center;">Search</button>
        </div>
    </div>
    <div class="col col-1">
    </div>
</div>