<div class="form-group row">
    <div class="col col-1"></div>

    <div class="col col-10">
        <div class="form-group row">
            <label for="docUsername" class="col col-2">Username</label>
            <input name="name" class="form-control col col-3" type="text" id='docUsername'>
            <div class="col-1">
            </div>

            <label for="docUsername" class="col col-2">Name</label>
            <input name="name" class="form-control col col-3" type="text" id='docName'>
            <div class="col-1">
            </div>
        </div>

        <div class="form-group row">
            <label for="docUsername" class="col col-2">CMND</label>
            <input name="name" class="form-control col col-3" type="number" id='docSSN'>
            <div class="col-1">
            </div>

            <label for="docUsername" class="col col-2">Email</label>
            <input name="name" class="form-control col col-3" type=" text" id='docMail'>
            <div class="col-1">
            </div>
        </div>

        <div class="row justify-content-md-center">
            <button id="btnSearchModDocForm" type="button" class="btn btn-dark btn-block"
                style="width:150px; text-align:center;">Search</button>
        </div>
    </div>
</div>