<div class="modal fade" id="buildingRoomSelectModal" tabindex="-1" aria-labelledby="buildingRoomSelectModal"
		aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="buildingRoomSelectModal">Add Medication</h5>
				</div>
				<div class="modal-body">
					<div class="row form-group" style="padding: 5px;">
						<textarea class="col col-3 form-control text-dark" rows="1" readOnly="true"
							aria-label="With textarea"
							style="border: none; box-shadow: none; resize: none; background-color: white; text-align: right;">Building</textarea>
						<select class="col col-2 custom-select" name="selBuildingCd" id="selBuildingCd" required>
						</select>

						<div class="col col-1"></div>

						<textarea class="col col-2 form-control text-dark" rows="1" readOnly="true"
							aria-label="With textarea"
							style="border: none; box-shadow: none; resize: none; background-color: white; text-align: right;">Room</textarea>
						<select class="col col-3 custom-select" name="selRoomCd" id="selRoomCd" required>
						</select>
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-dark" id="btnSelRoomModal">Confirm</button>
				</div>
			</div>
		</div>
	</div>