<!DOCTYPE html>
<html lang="en">
{{>head}}

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-3 custom-border">
                Left

                <div class="row align-items-center custom-border" style="padding-left: 30px;">
                    <i class="fas fa-hospital-user" aria-hidden="true" style="font-size: 50px;"></i>
                    <label style="padding-left: 10px; margin: 0;">KHUONG LNA</label>
                    <div class="col-4"> </div>
                    <button style="right: 10px;" type="button" name="" id="logoutBtn" class="btn btn-dark"> Log
                        Out</button>
                </div>
                <div class="row custom-border align-items-center">
                    <div class="col-4">
                        <p style="margin: auto;">A1</p>
                    </div>
                    <div class="col-4">
                        201
                    </div>
                    <div class="col-4">
                        <button type="button" name="" id="" class="btn btn-dark btn-sm">Change
                            Room</button>
                    </div>
                </div>
                <div class="row">Patient</div>
            </div>
            <div class="col-9 p custom-border" style="padding-left: 20px;">
                Right
                <div class="row">H Name</div>
                <div class="row">P Name</div>
                <div class="row">Exam</div>
            </div>
        </div>
    </div>
</body>

</html>