<!DOCTYPE html>
<html lang="en">
{{>head}}

<body style="overflow-x: hidden;">
    <div class="row" style="padding-top: 20px;">
        <div class="col-10"></div>
        <button type="button" name="" id="logoutBtn" class="btn btn-dark col-1"> Log
            Out</button>
        <div class="col-1"></div>
    </div>
    {{!-- <div class="row" style="padding-top: 20px;">
        <div class="col-10"></div>
        <button type="button" name="" id="hideAllForm" class="btn btn-dark col-1" onclick="debug()">Debug</button>
        <div class="col-1"></div>
    </div> --}}

    <div class="container" style="padding-bottom: 50px;">
        <div class="row justify-content-center align-items-center h-100 optTop" id="optLvl1">
            <div class="btn-group btn-group-toggle" data-toggle="buttons" style="padding-top: 50px;">
                <label class="btn btn-outline-dark">
                    <input type="radio" name="options" id="optUser" value="1"> User
                </label>
                <label class="btn btn-outline-dark">
                    <input type="radio" name="options" id="optHospital" value="2"> Hospital
                </label>
                <label class="btn btn-outline-dark">
                    <input type="radio" name="options" id="optDevice" value="3"> Device
                </label>
            </div>
        </div>

        <div class="row justify-content-center optionBar" id="optUserExt" style="display: none;">
            <div class="btn-group btn-group-toggle" data-toggle="buttons" style="padding-top: 20px;">
                <label class="btn btn-outline-dark">
                    <input type="radio" name="options" id="changePwd" value="1"> Change Password
                </label>
                <label class="btn btn-outline-dark">
                    <input type="radio" name="options" id="addDoc" value="2"> Add Doctor
                </label>
                <label class="btn btn-outline-dark">
                    <input type="radio" name="options" id="modDoc" value="3"> Modify Doctor
                </label>
                <label class="btn btn-outline-dark">
                    <input type="radio" name="options" id="changeDocSts" value="3"> Change Doctor Status
                </label>
            </div>
        </div>

        <form action="" id='changePassForm' style="display: none;" class="p-5 mb-2 bg-white text-dark">
            {{> managePage/changePassword}}
        </form>

        <form id="addDoctorForm" style="display: none;" class="form-group p-5 mb-2 bg-white text-dark">
            {{> managePage/addDoctor}}
        </form>

        <form id='modDocForm' style="display: none;" class="py-3 my-2 bg-white text-dark">
            <div class="row form-group justify-content-md-center">
                <label style="font-size: 25px;">Modify Doctor</label>
            </div>

            <br>

            {{> managePage/searchDoctor}}
        </form>

        <div class="row justify-content-center optionBar" id="optHosExt" style="display: none;">
            <div class="btn-group btn-group-toggle" data-toggle="buttons" style="padding-top: 20px;">
                <label class="btn btn-outline-dark">
                    <input type="radio" name="options" id="optHos" value="1"> Hospital
                </label>
                <label class="btn btn-outline-dark">
                    <input type="radio" name="options" id="optBuilding" value="2"> Building
                </label>
                <label class="btn btn-outline-dark">
                    <input type="radio" name="options" id="optRoom" value="3"> Room
                </label>
                <label class="btn btn-outline-dark">
                    <input type="radio" name="options" id="optDept" value="4"> Department
                </label>
            </div>
        </div>

        <div class="row justify-content-center optionBar" id="optDeviceExt" style="display: none;">
            <div class="btn-group btn-group-toggle" data-toggle="buttons" style="padding-top: 20px;">
                <label class="btn btn-outline-dark">
                    <input type="radio" name="options" id="addDevice" value="1"> Add Device
                </label>
                <label class="btn btn-outline-dark">
                    <input type="radio" name="options" id="modDevice" value="2"> Modify Device
                </label>
                <label class="btn btn-outline-dark">
                    <input type="radio" name="options" id="updateDevice" value="3"> Update Device Info To EventHub
                </label>
            </div>
        </div>

        <form id="addDeviceForm" style="display: none;" class="p-5 mb-2 bg-white text-dark">
            {{> managePage/addDevice}}
        </form>

        <form id="modDeviceForm" style="display: none;" class="p-5 mb-2 bg-white text-dark">
            {{> managePage/deviceModifySec}}
        </form>

        <div class="row justify-content-center extOptionBar" id="optHExt" style="display: none;">
            <div class="btn-group btn-group-toggle" data-toggle="buttons" style="padding-top: 20px;">
                <label class="btn btn-outline-dark">
                    <input type="radio" name="options" id="addHos" value="1"> Add Hospital
                </label>
                <label class="btn btn-outline-dark">
                    <input type="radio" name="options" id="modHos" value="2"> Modify Hospital
                </label>
            </div>
        </div>

        <form id="addHosForm" style="display: none;" class="p-5 mb-2 bg-white text-dark">
            {{> managePage/addHospital}}
        </form>

        <div class="row justify-content-center extOptionBar" id="optBuildingExt" style="display: none;">
            <div class="btn-group btn-group-toggle" data-toggle="buttons" style="padding-top: 20px;">
                <label class="btn btn-outline-dark">
                    <input type="radio" name="options" id="addBuilding" value="1"> Add Building
                </label>
                <label class="btn btn-outline-dark">
                    <input type="radio" name="options" id="modBuilding" value="2"> Modify Building
                </label>
            </div>
        </div>

        <form id="addBuildingForm" style="display: none;" class="p-5 mb-2 bg-white text-dark">
            {{> managePage/addBuilding}}
        </form>

        <div class="row justify-content-center extOptionBar" id="optRoomExt" style="display: none;">
            <div class="btn-group btn-group-toggle" data-toggle="buttons" style="padding-top: 20px;">
                <label class="btn btn-outline-dark">
                    <input type="radio" name="options" id="addRoom" value="1"> Add Room
                </label>
                <label class="btn btn-outline-dark">
                    <input type="radio" name="options" id="modRoom" value="2"> Modify Room
                </label>
            </div>
        </div>

        <div class="row justify-content-center extOptionBar" id="optDeptExt" style="display: none;">
            <div class="btn-group btn-group-toggle" data-toggle="buttons" style="padding-top: 20px;">
                <label class="btn btn-outline-dark">
                    <input type="radio" name="options" id="addDept" value="1"> Add Dept
                </label>
                <label class="btn btn-outline-dark">
                    <input type="radio" name="options" id="modDept" value="2"> Modify Dept
                </label>
            </div>
        </div>

        <div class="alert alert-success" role="alert" id="addSuccessDialog" style="display: none;">
            Add successfully!
            <button type="button" class="close" aria-label="Close" onclick="closeSuccessDialog()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</body>

<script src="./js/addDoctor.js"></script>
<script src="./js/logout.js"></script>
<script src="./js/managePageCommon.js"></script>

</html>