textarea:focus {
	outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

body,
html {
	height: 100%;
}

.btn:focus {
	box-shadow: none;
}

.custom-input:focus-visible {
	outline: none;
}

.active {
	font-size: 20px;
	color: green;
}

.inactive {
	font-size: 20px;
	color: red;
}
